<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Produtos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Produtos</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Responsive Hover Table</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 250px;">



                            <div class="input-group input-group-sm mb-3">

                                <input type="text" class="form-control" [(ngModel)]="_pesquisa"
                                    placeholder="Pesquisar por nome" (keyup)="produtosFiltrados()">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm"><i
                                            class="fa fa-search"></i></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body ">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Imagem</th>
                                <th style="width: 20%">Nome</th>
                                <th>Descrição</th>
                                <th>Status</th>
                                <th style="width: 10%">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let produto of _produtosFiltrados">
                                <td><img width="60" height="60" src={{produto?.imagens[0]}}></td>

                                <td class="idTD">{{produto?.nome}}</td>
                                <td class="idTD">{{produto?.descricao}}</td>
                                <td class="tdStatus">
                                    <span *ngIf="!produto.deletado" class="spanStatus alert alert-success"
                                        role="alert">Ativo</span>
                                    <span *ngIf="produto.deletado" class="spanStatus alert alert-danger"
                                        role="alert">Inativo</span>
                                </td>
                                <td class="idTD">
                                    <button class="btn btn-sm btn-outline-success" (click)="editar(produto)"
                                        (click)="findProdutoById(produto.id)" style=" width: 30px;">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline-primary" style="width: 30px"
                                        (click)="findProdutoById(produto.id)">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger" (click)="findProdutoById(produto.id)"
                                        style="width: 30px">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.content -->
</div>